.App {
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
}

.Header {
  font-size: 5rem;
  position: absolute;
  top: 1vh;
  left: 1vw;

  width: 60vw;
  z-index: 1;
  opacity: 0.2;
}

.ColorPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Canvas {
  height: 100vh;
  width: 100vw;
}

.Buttons {
  position: absolute;
  width: 10vw;
  display: flex;
  justify-content: space-between;
  bottom: 4vw;
}

button {
  padding: 5px 20px 5px;
}
